Docs/User/userwebserviceWSDL.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. --><definitions xmlns:tns="http://interfaces.controller.jets.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.controller.jets.iti.gov/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.controller.jets.iti.gov/" schemaLocation="http://localhost:9595/soapApi2/userwebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="getUserOders">
<part name="parameters" element="tns:getUserOders"/>
</message>
<message name="getUserOdersResponse">
<part name="parameters" element="tns:getUserOdersResponse"/>
</message>
<message name="getUserbyId">
<part name="parameters" element="tns:getUserbyId"/>
</message>
<message name="getUserbyIdResponse">
<part name="parameters" element="tns:getUserbyIdResponse"/>
</message>
<portType name="UserManagement">
<operation name="getUsers">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUsersRequest" message="tns:getUsers"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="createUser">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.controller.jets.iti.gov/UserManagement/createUserRequest" message="tns:createUser"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.controller.jets.iti.gov/UserManagement/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="deleteUser">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.controller.jets.iti.gov/UserManagement/deleteUserRequest" message="tns:deleteUser"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.controller.jets.iti.gov/UserManagement/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="updateUser">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaces.controller.jets.iti.gov/UserManagement/updateUserRequest" message="tns:updateUser"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaces.controller.jets.iti.gov/UserManagement/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="getUserOders">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserOdersRequest" message="tns:getUserOders"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserOdersResponse" message="tns:getUserOdersResponse"/>
</operation>
<operation name="getUserbyId">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserbyIdRequest" message="tns:getUserbyId"/>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserbyIdResponse" message="tns:getUserbyIdResponse"/>
</operation>
</portType>
</definitions>