Docs/Product/productwebserviceXSD.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. --><xs:schema xmlns:tns="http://interfaces.controller.jets.iti.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://interfaces.controller.jets.iti.gov/">

<xs:element name="createProduct" type="tns:createProduct"/>

<xs:element name="createProductResponse" type="tns:createProductResponse"/>

<xs:element name="deleteProduct" type="tns:deleteProduct"/>

<xs:element name="deleteProductResponse" type="tns:deleteProductResponse"/>

<xs:element name="getCategories" type="tns:getCategories"/>

<xs:element name="getCategoriesResponse" type="tns:getCategoriesResponse"/>

<xs:element name="getCategoryProducts" type="tns:getCategoryProducts"/>

<xs:element name="getCategoryProductsResponse" type="tns:getCategoryProductsResponse"/>

<xs:element name="getProductbyId" type="tns:getProductbyId"/>

<xs:element name="getProductbyIdResponse" type="tns:getProductbyIdResponse"/>

<xs:element name="getProducts" type="tns:getProducts"/>

<xs:element name="getProductsResponse" type="tns:getProductsResponse"/>

<xs:element name="productGetDto" type="tns:productGetDto"/>

<xs:element name="productPostDto" type="tns:productPostDto"/>

<xs:element name="productPutDto" type="tns:productPutDto"/>

<xs:element name="updateProduct" type="tns:updateProduct"/>

<xs:element name="updateProductResponse" type="tns:updateProductResponse"/>

<xs:complexType name="getCategoryProducts">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategoryProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:productGetDto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productGetDto">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:long"/>
<xs:element name="quantity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductbyId">
<xs:sequence>
<xs:element name="productId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductbyIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:productGetDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProduct">
<xs:sequence>
<xs:element name="productPost" type="tns:productPostDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productPostDto">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:long"/>
<xs:element name="quantity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProduct">
<xs:sequence>
<xs:element name="productPut" type="tns:productPutDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productPutDto">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:long"/>
<xs:element name="quantity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProduct">
<xs:sequence>
<xs:element name="productId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProducts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:productGetDto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="category">
<xs:restriction base="xs:string">
<xs:enumeration value="WHITE_CHOCOLATE"/>
<xs:enumeration value="DARK_CHOCOLATE"/>
<xs:enumeration value="DRINKS"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>