Docs/Product/productwebserviceWSDL.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. --><definitions xmlns:tns="http://interfaces.controller.jets.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.controller.jets.iti.gov/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.controller.jets.iti.gov/" schemaLocation="http://localhost:9595/soapApi2/productwebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse"/>
</message>
<message name="getProductbyId">
<part name="parameters" element="tns:getProductbyId"/>
</message>
<message name="getProductbyIdResponse">
<part name="parameters" element="tns:getProductbyIdResponse"/>
</message>
<message name="createProduct">
<part name="parameters" element="tns:createProduct"/>
</message>
<message name="createProductResponse">
<part name="parameters" element="tns:createProductResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="getProducts">
<part name="parameters" element="tns:getProducts"/>
</message>
<message name="getProductsResponse">
<part name="parameters" element="tns:getProductsResponse"/>
</message>
<message name="getCategories">
<part name="parameters" element="tns:getCategories"/>
</message>
<message name="getCategoriesResponse">
<part name="parameters" element="tns:getCategoriesResponse"/>
</message>
<message name="getCategoryProducts">
<part name="parameters" element="tns:getCategoryProducts"/>
</message>
<message name="getCategoryProductsResponse">
<part name="parameters" element="tns:getCategoryProductsResponse"/>
</message>
<portType name="ProductManagement">
<operation name="updateProduct">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/updateProductRequest" message="tns:updateProduct"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/updateProductResponse" message="tns:updateProductResponse"/>
</operation>
<operation name="getProductbyId">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/getProductbyIdRequest" message="tns:getProductbyId"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/getProductbyIdResponse" message="tns:getProductbyIdResponse"/>
</operation>
<operation name="createProduct">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/createProductRequest" message="tns:createProduct"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/createProductResponse" message="tns:createProductResponse"/>
</operation>
<operation name="deleteProduct">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/deleteProductRequest" message="tns:deleteProduct"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="getProducts">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/getProductsRequest" message="tns:getProducts"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/getProductsResponse" message="tns:getProductsResponse"/>
</operation>
<operation name="getCategories">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/getCategoriesRequest" message="tns:getCategories"/>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/getCategoriesResponse" message="tns:getCategoriesResponse"/>
</operation>
<operation name="getCategoryProducts">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/getCategoryProductsRequest" message="tns:getCategoryProducts"/>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://interfaces.controller.jets.iti.gov/ProductManagement/getCategoryProductsResponse" message="tns:getCategoryProductsResponse"/>
</operation>
</portType>
</definitions>