Docs/shopcartwebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.--><!--Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.--><definitions targetNamespace="http://interfaces.controller.jets.iti.gov/" xmlns:tns="http://interfaces.controller.jets.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://interfaces.controller.jets.iti.gov/" schemaLocation="shopcartwebservice.xsd"/>
    </xsd:schema>
  </types>
  <message name="addProductToCart">
    <part name="parameters" element="tns:addProductToCart"/>
  </message>
  <message name="addProductToCartResponse">
    <part name="parameters" element="tns:addProductToCartResponse"/>
  </message>
  <message name="getUserCartitems">
    <part name="parameters" element="tns:getUserCartitems"/>
  </message>
  <message name="getUserCartitemsResponse">
    <part name="parameters" element="tns:getUserCartitemsResponse"/>
  </message>
  <message name="removeProductfromCart">
    <part name="parameters" element="tns:removeProductfromCart"/>
  </message>
  <message name="removeProductfromCartResponse">
    <part name="parameters" element="tns:removeProductfromCartResponse"/>
  </message>
  <message name="orderItemsinShoppingCart">
    <part name="parameters" element="tns:orderItemsinShoppingCart"/>
  </message>
  <message name="orderItemsinShoppingCartResponse">
    <part name="parameters" element="tns:orderItemsinShoppingCartResponse"/>
  </message>
  <portType name="UserManagement">
    <operation name="addProductToCart">
      <input ns1:Action="http://interfaces.controller.jets.iti.gov/UserManagement/addProductToCartRequest" message="tns:addProductToCart" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://interfaces.controller.jets.iti.gov/UserManagement/addProductToCartResponse" message="tns:addProductToCartResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getUserCartitems">
      <input ns3:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserCartitemsRequest" message="tns:getUserCartitems" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserCartitemsResponse" message="tns:getUserCartitemsResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeProductfromCart">
      <input ns5:Action="http://interfaces.controller.jets.iti.gov/UserManagement/removeProductfromCartRequest" message="tns:removeProductfromCart" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://interfaces.controller.jets.iti.gov/UserManagement/removeProductfromCartResponse" message="tns:removeProductfromCartResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="orderItemsinShoppingCart">
      <input ns7:Action="http://interfaces.controller.jets.iti.gov/UserManagement/orderItemsinShoppingCartRequest" message="tns:orderItemsinShoppingCart" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://interfaces.controller.jets.iti.gov/UserManagement/orderItemsinShoppingCartResponse" message="tns:orderItemsinShoppingCartResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>