Docs/userwebservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.--><xs:schema version="1.0" targetNamespace="http://interfaces.controller.jets.iti.gov/" xmlns:tns="http://interfaces.controller.jets.iti.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createUser" type="tns:createUser"/>
  <xs:element name="createUserResponse" type="tns:createUserResponse"/>
  <xs:element name="deleteUser" type="tns:deleteUser"/>
  <xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>
  <xs:element name="getUserOders" type="tns:getUserOders"/>
  <xs:element name="getUserOdersResponse" type="tns:getUserOdersResponse"/>
  <xs:element name="getUserbyId" type="tns:getUserbyId"/>
  <xs:element name="getUserbyIdResponse" type="tns:getUserbyIdResponse"/>
  <xs:element name="getUsers" type="tns:getUsers"/>
  <xs:element name="getUsersResponse" type="tns:getUsersResponse"/>
  <xs:element name="orderGetDto" type="tns:orderGetDto"/>
  <xs:element name="updateUser" type="tns:updateUser"/>
  <xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
  <xs:element name="userGetDto" type="tns:userGetDto"/>
  <xs:element name="userPostDto" type="tns:userPostDto"/>
  <xs:element name="userPutDto" type="tns:userPutDto"/>
  <xs:complexType name="getUsers">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getUsersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:userGetDto" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userGetDto">
    <xs:sequence>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="links" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="role" type="tns:role" minOccurs="0"/>
      <xs:element name="shoppingCart" type="tns:shoppingCart" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shoppingCart">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getUserOders">
    <xs:sequence>
      <xs:element name="userId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserOdersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:orderGetDto" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderGetDto">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="total" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserbyId">
    <xs:sequence>
      <xs:element name="userId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserbyIdResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:userGetDto" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUser">
    <xs:sequence>
      <xs:element name="userId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element name="userPut" type="tns:userPutDto" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPutDto">
    <xs:sequence>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUser">
    <xs:sequence>
      <xs:element name="user" type="tns:userPostDto" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPostDto">
    <xs:sequence>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="role" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CUSTOMER"/>
      <xs:enumeration value="CLERK"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>