Docs/userwebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.--><!--Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.--><definitions targetNamespace="http://interfaces.controller.jets.iti.gov/" xmlns:tns="http://interfaces.controller.jets.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://interfaces.controller.jets.iti.gov/" schemaLocation="userwebservice.xsd"/>
    </xsd:schema>
  </types>
  <message name="getUsers">
    <part name="parameters" element="tns:getUsers"/>
  </message>
  <message name="getUsersResponse">
    <part name="parameters" element="tns:getUsersResponse"/>
  </message>
  <message name="createUser">
    <part name="parameters" element="tns:createUser"/>
  </message>
  <message name="createUserResponse">
    <part name="parameters" element="tns:createUserResponse"/>
  </message>
  <message name="getUserbyId">
    <part name="parameters" element="tns:getUserbyId"/>
  </message>
  <message name="getUserbyIdResponse">
    <part name="parameters" element="tns:getUserbyIdResponse"/>
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser"/>
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse"/>
  </message>
  <message name="getUserOders">
    <part name="parameters" element="tns:getUserOders"/>
  </message>
  <message name="getUserOdersResponse">
    <part name="parameters" element="tns:getUserOdersResponse"/>
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser"/>
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse"/>
  </message>
  <portType name="UserManagement">
    <operation name="getUsers">
      <input ns1:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUsersRequest" message="tns:getUsers" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUsersResponse" message="tns:getUsersResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="createUser">
      <input ns3:Action="http://interfaces.controller.jets.iti.gov/UserManagement/createUserRequest" message="tns:createUser" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://interfaces.controller.jets.iti.gov/UserManagement/createUserResponse" message="tns:createUserResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getUserbyId">
      <input ns5:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserbyIdRequest" message="tns:getUserbyId" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserbyIdResponse" message="tns:getUserbyIdResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="deleteUser">
      <input ns7:Action="http://interfaces.controller.jets.iti.gov/UserManagement/deleteUserRequest" message="tns:deleteUser" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://interfaces.controller.jets.iti.gov/UserManagement/deleteUserResponse" message="tns:deleteUserResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getUserOders">
      <input ns9:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserOdersRequest" message="tns:getUserOders" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserOdersResponse" message="tns:getUserOdersResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateUser">
      <input ns11:Action="http://interfaces.controller.jets.iti.gov/UserManagement/updateUserRequest" message="tns:updateUser" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://interfaces.controller.jets.iti.gov/UserManagement/updateUserResponse" message="tns:updateUserResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>