Docs/ShoppingCart/shopcartwebserviceWSDL.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. --><definitions xmlns:tns="http://interfaces.controller.jets.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.controller.jets.iti.gov/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.controller.jets.iti.gov/" schemaLocation="http://localhost:9595/soapApi2/shopcartwebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="addProductToCart">
<part name="parameters" element="tns:addProductToCart"/>
</message>
<message name="addProductToCartResponse">
<part name="parameters" element="tns:addProductToCartResponse"/>
</message>
<message name="getUserCartitems">
<part name="parameters" element="tns:getUserCartitems"/>
</message>
<message name="getUserCartitemsResponse">
<part name="parameters" element="tns:getUserCartitemsResponse"/>
</message>
<message name="removeProductfromCart">
<part name="parameters" element="tns:removeProductfromCart"/>
</message>
<message name="removeProductfromCartResponse">
<part name="parameters" element="tns:removeProductfromCartResponse"/>
</message>
<message name="orderItemsinShoppingCart">
<part name="parameters" element="tns:orderItemsinShoppingCart"/>
</message>
<message name="orderItemsinShoppingCartResponse">
<part name="parameters" element="tns:orderItemsinShoppingCartResponse"/>
</message>
<portType name="UserManagement">
<operation name="addProductToCart">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.controller.jets.iti.gov/UserManagement/addProductToCartRequest" message="tns:addProductToCart"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.controller.jets.iti.gov/UserManagement/addProductToCartResponse" message="tns:addProductToCartResponse"/>
</operation>
<operation name="getUserCartitems">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserCartitemsRequest" message="tns:getUserCartitems"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.controller.jets.iti.gov/UserManagement/getUserCartitemsResponse" message="tns:getUserCartitemsResponse"/>
</operation>
<operation name="removeProductfromCart">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.controller.jets.iti.gov/UserManagement/removeProductfromCartRequest" message="tns:removeProductfromCart"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.controller.jets.iti.gov/UserManagement/removeProductfromCartResponse" message="tns:removeProductfromCartResponse"/>
</operation>
<operation name="orderItemsinShoppingCart">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaces.controller.jets.iti.gov/UserManagement/orderItemsinShoppingCartRequest" message="tns:orderItemsinShoppingCart"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaces.controller.jets.iti.gov/UserManagement/orderItemsinShoppingCartResponse" message="tns:orderItemsinShoppingCartResponse"/>
</operation>
</portType>
</definitions>